<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NoPorn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NoPorn.Properties.Settings>
            <setting name="firstTime" serializeAs="String">
                <value>c#a</value>
            </setting>
            <setting name="blockApps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blockSites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value/>
            </setting>
            <setting name="restrictRunApps" serializeAs="String">
                <value>False</value>
            </setting>
        </NoPorn.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
